// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.pagination {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
